<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">

            <form action="">
                <input type="text" placeholder="输入姓名" v-model="name">
                <input type="text" placeholder="输入性别" v-model="sex">
                <input type="text" placeholder="输入年龄" v-model="age">
                <input type="text" placeholder="输入成绩" v-model="achievement">
                <input type="button" value="提交" @click="btn">
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>成绩</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item,index in list" :key="item.name">
                        <td>{{item.name}}</td>
                        <td>{{item.sex}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.achievement}}</td>
                        <td>
                            <button @click="xg(index)">修改</button>
                        </td>
                        <td>
                            <button @click="sc(index)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>

    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                list:[
                    {name:"", sex:"", age:"", achievement:""}   
                ]
            },
            methods: {
                btn(){
                    this.list.push({name: this.name, sex: this.sex, age: this.age, achievement: this.achievement})
                },
                xg(i){
                    var achievement = prompt('请输入要修改得成绩')
                    this.list[i].achievement =  achievement;
                },
                sc(i){
                    if(confirm('是否删除数据？')){
                        this.list.splice(i,1)
                    }
                }
            },
        })
    </script>
</body>
</html>