<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        <form action="">
            <input type="text" v-model="txt">
            <input type="button" value="添加" @click="tj">
        </form>
        <ul>
            <li v-for="item,index in list">
                {{item}}
                <span @click="del(index)">删除</span>
            </li>
        </ul>
    </div>

    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                txt:"",
                list:[
                    '苹果',
                    '香蕉',
                    '鸭梨'
                ]
            },
            methods:{
                tj(){
                    this.list.push(this.txt)
                },
                del(i){
                    this.list.splice(i,1)
                }
            },
        })
    </script>
</body>
</html>