<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <form action="">
            ID:
            <input type="text" placeholder="请输入ID" v-model="id">

            Name:                                   <!--keyup="jia" 只要触碰键盘就可以实现提交的效果-->>
            <input type="text" placeholder="请输入名称" v-model="name" @keyup.f2="jia">
                                                    <!-- 所有按键全部别名 .enter .tab .delete(捕获''删除'和退格键 .esc .space .up .down .left .right)-->
                                                    <!-- 通过键盘修饰符  自定义的 enter 只有点击回车时才能提交 -->
                                                    <!-- 这些键盘修饰符 都是系统提供的 内置的修饰符 -->
            搜索关键字名称:
            <!-- 注意: Vue中所有的命令,在调用的时候,都以 v- 开头 -->  <!-- v-focus 自动获取焦点 -->
            <input type="text" placeholder="请输入名称" v-model="ss" v-focus v-color="'pink'">
                                                                            <!-- v-color 必须要是数组的形式 加""" -->

            <!-- 在vue中 使用数据绑定机制,为元素指定处理函数的时候,如果加了小括号,就可以给函数进行传参了 -->
            <input type="button" value="添加" @click="jia">
        </form>

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>品牌名称</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                <!-- 之前, v-for 中的数据,都是直接从 data 上的list 中直接渲染过来的-->
                <!-- 现在 我们, 自定义了一个 search 方法,同时, 把所有关键字,通过传参的形式给到了search方法 -->
                <!-- 在 search 方法内部,通过执行 for 循环, 把所有符合 搜索关键字的数据，保存到 一个新数组中,
                并返回 -->
                <tr v-for="itme in search(ss)">
                    <td>{{itme.id}}</td>
                    <td>{{itme.name}}</td>
                    <td>{{itme.sj | dateFormat()}}</td>
                    <td>{{itme.sc}}</td>
                    <td>
                        <input type="button" value="删除" @click.prevent="tab(index)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="app2">
        <h3 v-color="'yellow'" v-fontweight="200" v-fontsize="'30px'">{{ time | dateFormat }}</h3>
    </div>
    <script>


        // 定义全局过滤器  进行实践的格式化
        //全局过滤器是所有Vue实例都能调用
        Vue.filter('dateFormat',  function(dateStr, pattern = "") {
            let time = new Date(dateStr);
            let y = time.getFullYear();
            let m = time.getMonth();
            let d = time.getDay();

            // return y + '-' + m + '-' + d


            if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                return `${y}-${m}-${d}`   //通过字符串模板 `` 的写法改进了 上面的字符串写法
            } else {
                let hh = time.getHours();
                let mm = time.getMinutes();
                let ss = time.getSeconds();

                return `${y}-${m}-${d}-${hh}-${mm}-${ss}`
            }
        })


        // 设定一个自定义的全局按键修饰符
        Vue.config.keyCodes.f2 = 113  //通过 Vue包里的代码 config配置 keyCodes 许多键盘码的意思 把这个113按键修饰符对应的f2 赋予给 当前的f2身上


        // 自定义全局让文本框获取焦点
        // 使用 Vue.directive() 定义全局的指令  v-focus
        // 其中:参数1  :  指令的名称,注意,在定义的时候,指令的名称前面,不需要加 v- 前缀
        // 但是: 在调用的时候,必须 在指令名称前 加上 v- 前缀来使用
        //  参数2 : 是一个对象,这个对象身上,有一些指令相关的函数,这些函数可以再特定的阶段,执行相关的操作

        Vue.directive('focus',{
            bind: function(el){ //每当指令绑定到元素上的时候,会立即执行这个 bind 函数,只执行一次
            // 注意: 在每个 函数中,第一个参数,永远是 el ,表示 被绑定了指令那个元素,这个 el 参数,是一个原生js对象
            // 在元素 刚绑定了指令的时候,还没有 插入到DOM中去, 这时候, 调用 bind 方法没有作用
            // 因为,一个元素,只有在插入DOM之后, 才可以获取焦点
                // el.focus()
            },
            inserted:function(el){ //inserted 表示元素 插入到DOM中的时候,会执行 inserted 的函数【触发一次】
                el.focus()
                // 和Js行为有关的操作,最好在 inserted 中去执行, 防止 js行为不生效
            },
            updated:function(el){ //VNode更新的时候,会执行 updated , 可能会触发多次
                
            }
        })

        // 自定义一个 设置 字体颜色的   指令
        // 样式,只要通过指令绑定给了元素,不管这个元素有没有被插入到页面中去,这个元素肯定有了一个内联样式
        // 将来元素肯定会显示到页面中去,这时候,浏览器的渲染引擎必然会解析样式,应用给这个元素
        Vue.directive('color',{
            bind:function(el, binding){
                // el.style.color = 'red'
                // 和样式相关的操作,一般都可以在 bind 中执行,
                el.style.color  =  binding.value
            }
        })

        let vm = new Vue({
            el: "#app",
            data: {
                ss: "",  //要搜索的关键字
                id:"",
                name:"",
                sj:"",
                list: [
                    { id: "1", name: "宝马", sj: new Date(), },
                    { id: "2", name: "奔弛", sj: new Date(), }
                ]
            },
            methods: {
                jia() {
                    this.list.push({ id: this.id, name: this.name, sj: new Date() })
                },
                tab(i) {
                    if (confirm("是否删除这条数据")) {
                        this.list.splice(i, 1)
                    }
                },
                search(ss) {  //根据相关的关键字进行数据的搜索
                    // var newList = [];
                    // this.list.forEach(itme=> {  //通过for循环遍历数组  具体范围是和list做链接的itme
                    //     if(itme.name.indexOf(ss) !=-1){  //判断 如果遍历数组中的name,用户输入的字符串
                                                            //不等于-1 
                    //         newList.push(item) //则让他通过push 来更新数据 更新到新建在数组里 进行连接
                    //     }
                    // });
                    // return newList  //把数组返回到插值表达式中

                    // 注意: forEach   some  filter   findIndex  这些都属于数组的新方法
                    // 都会对数组中的每一项,进行遍历,执行相关操作
                    return this.list.filter(itme => {  //itme是具体的区域
                        //Es6中,为字符串提供了一个方法,叫做 String.prototype.includes
                        //('要包含的字符串')
                        //  如果包含则返回true  不包含则返回false
                        if (itme.name.includes(ss)) {  //判断这个数组中已经显示的名字有包含用户输入
                            //的关键字则结果是true         `
                            return itme   //所有符合 这个条件的数组 都在遍历数组中进行返回了
                        }
                    })
                }
            }
        })

        //和div2进行连接
        var vm2 = new Vue({
      el: '#app2',
      data: {
        time: new Date()
      },
      methods: {},
      filters: { // 定义私有过滤器    过滤器有两个 条件  【过滤器名称 和 处理函数】
        // 过滤器调用的时候，采用的是就近原则，如果私有过滤器和全局过滤器名称一致了，这时候 优先调用私有过滤器
        dateFormat: function (dateStr, pattern = '') {
          // 根据给定的时间字符串，得到特定的时间
          var dt = new Date(dateStr)

          //   yyyy-mm-dd
          var y = dt.getFullYear()
                                    //先把数字转换为字符串的形式  再通过数组中新方法 padStart关键字
                                    //括号里的内容  第一个数字是一共有几位数  , 如果没有第一位数则自动补0
          var m = (dt.getMonth() + 1).toString().padStart(2, '0')   //padstart 这个关键字 是在距离具体数值之前
          var d = dt.getDate().toString().padStart(2, '0')

          if (pattern.toLowerCase() === 'yyyy-mm-dd') {  //判断若果上面 pattern 里面 是小写则是true
            return `${y}-${m}-${d}`
          } else {
            var hh = dt.getHours().toString().padStart(2, '0')
            var mm = dt.getMinutes().toString().padStart(2, '0')
            var ss = dt.getSeconds().toString().padStart(2, '0')

            return `${y}-${m}-${d} ${hh}:${mm}:${ss} ~~~~~~~`
          }
        }
      },
      directives : { //定义一个私有的指令  私有制令必须要带s
                'fontweight' :{ //定义一个要调用的名字
                    bind:function(el, binding){  //因为这是一个样式 可以用bind 行为就可能没有效果要用inserted
                    el.style.fontWeight = binding.value
            }
            },
            'fontsize': function(el , binding) {  //注意: 这个 function 等同于 把 代码写到了bind 和 update中去
                el.style.fontSize = binding.value
            }  
      }
    })

        //过滤器的定义用法
        // Vue.filter('过滤器的名称',function(){})
        // Vue.filter('过滤器的名称',function(data){  //通过函数的第一个形参来连接下面的数据
        //     return   data+'123'
        // })


        
    </script>
</body>

</html>


<!-- 过滤器的调用格式                {{ name | 过滤器的名称 }} -->